{% extends 'core/base.html' %}
{% block title %}Acerca de{% endblock %} 
{% load static %}  
{% block content %}
  <div class="container">
        <div class="row mt-4 mb-4">
            <div class="card-deck">                    
                <div class="card bg-dark shadow-lg text-white">
                    <img class="card-img-top img-fluid" src="{% static 'core/img/LIFE_LATELYY.jpg' %}" alt="Cascada">
                    <div class="text-center">
                        <img class="img-fluid  imagen_central_dark" src="{% static 'core/img/chiay.jpg' %}" alt="chiay"width="150" height="150">
                    </div>                    
                    <div class="card-body">
                        <h4 class="card-title">Chiay Lin León</h4>
                        <h6 class="card-subtitle text-muted mb-2">Perfil de Chiay </h6>
                        <p class="card-text-contacto">Estudiante de Informática <br> Duoc UC San Joaquín <br> Sección Desarrollo web  y Movil 005D </p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
                <div class="card bg-dark shadow-lg text-white">
                    <img class="card-img-top img-fluid" src="{% static 'core/img/waly.jpg' %}" alt="Cascada">
                    <div class="text-center">
                        <img class="img-fluid imagen_central_dark" src="{% static 'core/img/Caro.jpg' %}" alt="Imagen"width="150" height="150">
                    </div>                    
                    <div class="card-body">
                        <h4 class="card-title">Carolaine Muñoz Lecaros</h4>
                        <h6 class="card-subtitle text-muted mb-2">Perfil de Carolaine</h6>
                        <p class="card-text-contacto">Estudiante de Informática <br> Duoc San Joaquín <br> Seccion Desarrollo web y Movil 005</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="card-deck">                    
                <div class="card bg-dark shadow-lg text-white">
                    <img class="card-img-top img-fluid" src="{% static 'core/img/over.jpg' %}" alt="Cascada">
                    <div class="text-center">
                        <img class="img-fluid imagen_central_dark" src="{% static 'core/img/man.jpg' %}" alt="Imagen"width="150" height="150">
                    </div>                    
                    <div class="card-body">
                        <h4 class="card-title">Manuel Paz de la Vega Lopez</h4>
                        <h6 class="card-subtitle text-muted mb-2">Perfil de Manuel</h6>
                        <p class="card-text-contacto">Estudiante de Informática <br> Duoc San Joaquín <br> Seccion Desarrollo web y Movil 005</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
                <div class="card bg-dark shadow-lg text-white">
                    <img class="card-img-top img-fluid" src="{% static 'core/img/atro2.jpg' %}" alt="Cascada">
                    <div class="text-center">
                        <img class="img-fluid imagen_central_dark" src="{% static 'core/img/Tomy.jpeg' %}" alt="Imagen"width="150" height="150">
                    </div>                    
                    <div class="card-body">
                        <h4 class="card-title">Tomás König Pereira</h4>
                        <h6 class="card-subtitle text-muted mb-2">Perfil de Tomás</h6>
                        <p class="card-text-contacto">Estudiante de Informática <br> Duoc San Joaquín <br> Seccion Desarrollo web y Movil 005</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}