{% extends 'core/base.html' %}
{% block title %}Portada{% endblock %} 
{% block content %}
  <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                
                <span class="section-heading-lower">Misión</span>
              </h2>
              <p class="mb-0">Nuestra misión es ofrecer las mejores experiencias a nuestros clientes que desean realizar el sueño de conocer Chile y en su destino, construir bellas e inolvidables historias.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Visión</span>
              </h2>
              <p class="mb-0">Ser la mejor agencia de turismo receptivo de Chile. Para esto, estamos constantemente estudiando el mercado para entender las expectativas de los turistas, así como para ofrecer las mejores soluciones en lo que buscan.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
  

  

  

