{% extends 'core/base.html' %}
{% block title %}Portada{% endblock %} 
{% load static %}  
{% block content %}

  {% for proyecto in projects %}
    <section class="page-section">
       <div class="container">
        <div class="row mt-4 mb-4 justify-content-center">
            <div class="col-12">
                <div class="card-destinos">
                    <img class="card-img-top" src="{{proyecto.image.url}}" alt="Card imagen">
                    <div class="card-img-overlay text-white">
                        <h4 class="card-title">{{proyecto.title}}</h4>
                         {% if proyecto.link%}
                            
								       	   <p class= "text-black"> <a href= "{{proyecto.link}}" target= "_blank"><h6>Leer artículo</h6></a></p>
							           {% endif %}
                        <p class="card-text" >{{proyecto.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
  {% endfor %}
<!-- Paginado-->
  <div class="row justify-content-center text-secondary mt-4 mb-4">
        {% if projects.has_other_pages %}
            <nav aria-label="Paginación Proyectos">
                <ul class="pagination">
                    {% if projects.has_previous %}
                        <li class="page"><a class="page-link" href="?page={{ projects.previous_page_number}}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</a></li>
                    {% endif %}

                    {% for i in projects.paginator.page_range %}
                        {% if projects.number == i %}
                            <li class="page active"><span class="page-link">{{i}}<span class="sr-only">(current)</span></span></li>    
                        {% else %}
                            <li class="page"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                        {% endif %}    
                    {% endfor %}

                    {% if projects.has_next %}
                        <li class="page"><a class="page-link" href="?page={{ projects.next_page_number}}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>

{% endblock %}